* {
  font-family: "Oswald", sans-serif;
  font-size: large;
  overflow: hidden;
  text-align: center;
}
body {
  margin: 0%;
  padding: 0px;
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
}
.three {
  grid-column: 1/4;
  grid-row: 2 / 4;
}

.four {
  grid-column: 4;
  grid-row: 3/3;
}

/* ----------------------------------------------------------- */

.inner,.one {
  display: inline-block;
}

.filters {
  padding: 40px;
}

.container_canvas {
  padding: 0%;
  margin: 0px 30px 0px 30px;
  border: 3px solid black;
  background-color: white;
}
.container {
  background-color: none;
  padding: 15px;
}

.menu {
  border: black 2px solid;
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  padding: 2px;
  border-radius: 5px;
}
.menu__tools{
  padding: 20px;
  margin: 0% 24% 0% 24%;
}
.menu__filters{
  margin: 10% 5% 2% 5%;
}

.menu__save{
  padding: 10px;
  margin: 0% 20% 0% 20%;
}

input[type="file"] {
  display: none;
}

.hide {
  display: none;
}
.dropDown {
  position: absolute;
  margin-top: 2px;
}

.btn-grad-yellow {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
.btn-grad-blue {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
.btn-grad-red {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.btn-grad-white {background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3  51%, #8e9eab  100%)}
.btn-grad-green {background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%)}

.btn-grad {
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;            
  border-radius: 2px;
  display: block;
 
  border: none;
  cursor: pointer; 
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

h2,h4,p{
  margin:  0px 10px 0px 10px;
  color: white
}

img{
  width: 100px;
  height:100px;
}